@import "variable";
@import "mixin";
@import "tab";

body{
    font-family: loto-med;
}

.container{
    width: 80%;
    margin:auto;
}

.head-text{
    text-align: right;
    font-size: 10px;
    margin-bottom: 0px;
}

header{
    display: flex;
    align-items: center;
    
    nav{    
        align-items: center;
       
       
        ul{
            display: flex;
            align-items: center;
            li{
               
                list-style-type: none;
                margin: 0px 5px;
                text-align: center;
                text-transform: uppercase;
                font-size: 16px;      
                a{  
                    
                    text-decoration: none;
                    color: $navbar;
                    font-weight: bold;
                    button{
                        height: 40px;
                        box-sizing: border-box;
                        background-color: $nav-blue-btn;
                        border: 1px solid ;
                        border-radius: 3px;
                        color: white;
                        font-size: 14px;
                        font-weight: bold;

                    }

                    .nav-white-btn{
                        background: white;
                        border: 1px solid $nav-blue-btn;
                        color: $nav-blue-btn;
                    }
                    
                }
            }
        }
    }

  
    #nav-btn{
        display: flex;
        align-items: center;
        margin: 0px 3px;
       
        button{
            height: 40px;
            width: 37px;
            margin: 0px 5px;
        }
       
            
    }

}



.showcase{
    position: relative;
    display: inline-block;
    background-color: gray;
    min-height: 600px;
    
    .showcase-img{
        width: 100%;
        opacity: .3;
        min-height: 600px;
    }

    .newsbox {
        background: $yellow;
        position: absolute;
        top: 0px;
        width: 100%;

        
        .marquee{
            display: flex;
            align-items: center;
              
        }
    }

    .quote{
        position: absolute;
        top: 20%;
        text-align: center;
        color: white;
        width: 100%;
        margin: auto;

        button{
            background-color: $yellow;
            height: 55px;
            font-size: 20px;
            font-weight: bold;
            border: none;
            border-radius: 3px;
            color: white;
        }

        h1{
            font-size: 50px;
        }
    }
    
}


.block-bar{
    position: relative;
}

.box-list{
    top : -150px;
    position: absolute;
    width: 100%;

}

.diamond{
    top: 310px;
    left: 14%;
    position: absolute;
    width:50px;
    height: 50px;
    background: #090909;
    transform: rotate(45deg);
    color:#4a6084;
    background:#4a6084;
}

.boxes{
    display: flex;
    
    margin-top:15px;
    align-items: center;
    button{
        flex-basis: 23%;
        text-align: center;
        background-color: $nav-blue-btn;
        border: 1px solid $nav-blue-btn;
        border-radius: 5px;
        margin: 0px 10px;
        color: white;
        font-size: 20px;
        height: 250px;
        margin-bottom: 15px;
    }

    img{
        margin-top: 40px;
    }
    p{
        padding: 0px 30px;
    }

    .current{
        background-color:$current-box-col;
    }
}


   


.box-menu{
    background-color:$current-box-col;
    margin-top: 12%;
    padding: 10%;
    color: white;
    p{
        font-size: 20px;
        margin: 10px 0px;
    }

    input[type="text"] , select, option{
        width: 220px;
        height: 50px;
        border-radius: 5px;
        padding-left: 10px;
        border:none;
    }

    select , option{
        -webkit-appearance: none;
        width: 230px;
    }

    
}

.form-part-text{
    display: flex;
    flex-flow: wrap;

    div{
        flex-basis: 25%;
        margin: 0px 10px;
    }
}

.radio{
    display: flex;
    align-items: center;

    h3{
        margin-right: 30px;
    }
}

.advance{
    align-items: center;
    margin-top: 25px;
    font-size: 20px;
    img{
        background: white;
        border-radius: 100px;
        margin-right: 10px;
    }

        .adv-btn{
            text-align: right;
        }
   
        button{
            background: $nav-blue-btn;
            width: 150px;
            height: 40px;
            border: 0px;
            border-radius: 5px;
            
        }
}

.content{
    display: flex;
    div{
        align-self: flex-end;
    }
    h3{
        font-size: 15px;
    }
    
    .blue-tab{
       
        
        background: $nav-blue-btn;
    }
    .yellow-tab{

    height: 74px;
        align-items: center;
        background: #d6ab28;
        // padding-top: 20px;
    }
    .value{
        background: white;
        color: #4a6084;
    }

    .blue-tab , .yellow-tab,.value{
        width: 100px;
        text-align: center;
        padding: 10px;
        border: 1px solid $nav-blue-btn
    }

   

}

.table{
    display: flex;
}

.share-with{
    margin: auto;
    font-size: 20px;

    
    .social-meadi-icon {
        display: flex;
        width: 100%;
       
       
        div{
            border-radius: 100px;
            background: white;
            margin: 10px;
            padding: 15px;
            text-align: center;
           
            img{
                height: 20px;
                width: 25px;
            }
        }

    }
    
}

.contact-bar{
    background-image: url(../image/banner-bg.jpg);
    color: white;
    text-align: center;
    min-height: 300px;
    
    div{
        padding-top:20px;
    }

    h1{
        
        font-size: 50px;
    }

    button{
        height: 20px;
        height: 50px;
        width: 150px;
        background: none;
        border: 1px solid white;
        color: white;
        font-size: 20px;
    }
}
// proderty-bar
.new-proprety-bar{
    text-align: center;
    padding-bottom: 30px;
    background-color: #dedfe7;
    h1{
        margin-top:0px;
        padding-top: 20px; 
    }
}

.proterties{
    
    display: flex;
     flex-flow: wrap;
     justify-content: center;
    .propertybox{
        flex-basis: 240px;
        margin: 20px;
    }
    .property-img{   
        img{
         width: 240px;   
        }
    }

   
    table{
        width: 100%;
    }
    tr{
      font-size: 10px ;
      p{
        padding: 0px 10px;
    }
    }
    img,p{
        display:inline ;
    }
    

    .right-side{
        text-align: right;
    }

    div{
        background-color: white;
        padding-bottom: 5px;
        p{
            color:  #727272;
        }
    }

    .property-name{
        padding-left: 10px;
    }

}

.appraisal-bar{
    display: flex;
    
   
    button{
        flex-basis: 30%;
        margin: auto;
        background-color: $nav-blue-btn;
        color: white;
        height: 40px;
        border-radius: 5px;
        font-size: 15px;
       
    }

    h1{
        flex-basis: 70%;
        text-align: center;
    }

}


.footer-section{
    padding: 40px 0px;
    margin-bottom: 0px;
    background-color:#161616;
    div{
        text-align: center;
    }
}

.footer-content{
    display: flex;
}

.content-box{
    flex-basis: 25%;
    padding: 30px;
    p{
        color: #9aa2aa;
    }
    h3{
        color: #4a525d;
        text-transform: uppercase;
    }

    input{
        background: none;
        border: 1px solid #2e3338;
        color: white;
    }
    img{
        padding: 10px;
    }
}

.main-footer{
    background-color: #090909;
    color: #777777;
    text-align: center;
    p{
        margin: 0px;
        padding: 20px;
    }
}

// tab view
@media  (max-width:992px){
    .container{
        width: 90%;
    }
    header{
        display: block;
        text-align: center;
        margin: auto;
        nav{
           
            ul{
                display: block;
                li,#nav-btn{
                    display: block;
                    margin: 10px 0px;
                   
                }
            }
        }   
    }

    .boxes{
        flex-flow: wrap;
        margin-bottom: 100px;
        button{
            flex-basis: 45%;
        }
    }

    .box-menu{
        margin-top: 400px;
    }

    .diamond{
        top: 540px;
        left: 14%;
        position: absolute;
        width:50px;
        height: 50px;
        background: #090909;
        transform: rotate(45deg);
        color:#4a6084;
        background:#4a6084;
    }

    .form-part-text{
        div{
            flex-basis: 30%;
            margin: 5px;
        }
    }

    .appraisal-bar{
        display: block;
        text-align: center;
        height: 100px;
    }

    .footer-content{
        flex-flow: wrap;
        .content-box{
            flex-basis: 40%;
        }

    }

    .table{
        display: block;
        font-size: 20px
    }

}

@media screen and (max-width:767px){
    .box-list{
        top: -50px;
    }
   
    .boxes{
        margin-bottom: 100px;
        button{
            flex-basis: 60%;
            margin: auto;
            margin-bottom:10px; 
        }
    }


    .box-menu{
        margin-top: 1030px;
    }

    .diamond{
        top: 1060px;
        left: 45%;   
    }

    .table{
        display: block;
        font-size: 20px
    }

    .appraisal-bar{
        display: block;
        text-align: center;
        height: 150px;
    }
    
    .footer-content{
        flex-flow: wrap;
        .content-box{
            flex-basis: 80%;
        }

    }

    
}

