$navbar : #363a47;
$nav-blue-btn: #032149;
$font:Lato-Black;
$yellow : #d7ad2c;
$grey : #f7f7f7;
$current-box-col: #4a6084;

@font-face {
    font-family: loto-med;
    src: url(../fonts/Lato-Medium.woff);
  }